<html>
    <head>
        <meta charset="UTF-8">
        <title>Second Operation: General Semantics</title>
    </head>
    <body>
        <h3> In this page you will see the labels of the files. <br><br/>
        The labels are actually the names of the columns of the two dataframes. </h3>
        
        <p>The general semantics of the gene_evidences.tsv dataset is {{result[1]}} </p>
        <br/><br/>
        <p>The general semantics of the disease_evidences.tsv dataset is {{result[0]}} </p>
        <form method="get" action="/main">
                <button type="submit">Back</button>
        </form>
    </body>
</html>