<!DOCTYPE html>
<html style="background-color:#d5e1df;">
            <head>
                <style>
                    .under {text-decoration: underline #483D8B;}
                    .over {text-decoration: wavy overline lime;}
                    .line {text-decoration: line-through;}
                    .plain {text-decoration: none;}
                    .underover {text-decoration: dashed underline overline;}
                    .thick {text-decoration: solid underline purple 4px;}
                    .blink {text-decoration: blink;}
                </style>
            </head>
           

            <h1 style="color:#483D8B;" class='under'>Final project AP - Lamuia</h1>
            <h3 style="color:#2F4F4F;">This is the web page of our project.</h3>
            <li class="first_page">Recording the numerical metadata consisting of the number
            of rows and columns of each of the two files composing the data collection.</li>
            <form method="get" action="/MD">
                <button type="submit" class="first_page">Class 1</button>
            </form>
            <li class="second_page">Recording the general semantics of the dataset, i.e.
            the labels of the columns of each of the two files composing the data collection.</li>
            <form method="get" action="/Sem">
                <button type="submit" class="second_page">Class 2</button>
            </form>
            <li class="third_page">Recording the number of different genes detected in literature.
            The list should be sorted in ascending order.</li>
            <form method="get" action="/G">
                <button type="submit" class="third_page">Class 3</button>
            </form>
            <li class="fourthuser_page">Given a gene symbol, provide the list of sentences
            that are an evidence in literature about the relation of this gene with COVID-19.</li>
            <form method="get" action="/P4">
                <button type="submit" class="fourthuser_page">Class 4</button>
            </form>
            <li class="fifth_page">Recording the number of different disease detected in literature.
            The list should be sorted in ascending order.</li>
            <form method="get" action="/D">
                <button type="submit" class="fifth_page">Class 5</button>
            </form>
            <li class="sixthuser_page">Given a disease ID, provide the list of sentences
            that are an evidence in literature about the relation of this disease with COVID-19.</li>
            <form method="get" action="/P6">
                <button type="submit" class="sixthuser_page">Class 6</button>
            </form>
            <li class="seventh_page">Recording the 10-top most frequent distinct association between genes and diseases.</li>
            <form method="get" action="/T10">
                <button type="submit" class="seventh_page">Class 7</button>
            </form>
            <li class="eighthuser_page">Given a gene symbol, provide the list of diseases such a gene is associated with.</li>
            <form method="get" action="/P8">
                <button type="submit" class="eighthuser_page">Class 8</button>
            </form>
            <li class="ninthuser_page">Given a disease ID, provide the list of genes such a disease is associated with.</li>
            <form method="get" action="/P9">
                <button type="submit" class="ninthuser_page">Class 9</button>
            </form>
        </html>