<html>
    <head>
        <meta charset="UTF-8">
        <title>First Operation: Metadata</title>
    </head>
    <body>
        <h3> The first operation is involved in getting the general informations about the two files. <br><br/>
        We refer to them as metadata, which are specifically the number of rows and columns. </h3>
        
        <p>The metadata of the gene_evidences.csv dataset is {{result[1]}} </p>
        <br/>
        <p>The metadata of the disease_evidences.csv dataset is {{result[0]}} </p>
        <br/>
        <p> In both cases the first number represents the number of rows and the second is the number of columns. </p>
        <form method="get" action="/main">
            <button type="submit">Back</button>
        </form>
    </body>
</html>