<html>
<head>
        <meta charset="UTF-8">
        <title> User request </title>
    </head>
    <body>
        <h3> Among the following diseases, please select the one you want to analyze.</h3>
        <p><p/>
        <p> {{result}} </p>
        <p><p/>
        
        <p>Insert a disease ID:</p>
        <form method="get" action="http://127.0.0.1:3000/AG">
            <input type="text" name="disease" />
            <input type="submit" name="send" value="Send" />
        </form>
        <form method="get" action="/main">
            <button type="submit">Back</button>
        </form>
    </body>
</html>